<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script src="../assets/js/index.js"></script>
</head>
<body>
    <div class="chat">
        <h2>
            Welcome to One on One Chat
        </h2>
        <p>your chat ID:</p> <input type="text" name="clientID" id="clientID" readonly value=""> </span>
        <form action="" method="">
             <input type="text" name="id" id="friendId" placeholder="Enter friends chat ID">
        <input type="button" value="start" id="start">
        </form>
        <br>
        <h3>
            Messages:
        </h3>
        <div id="output">

        </div>
    </div>
</body>
</html>